### Environment Credentials
.env

### Package managers
node_modules
mix-manifest.json

### Themes
/htdocs/content/themes/*
!/htdocs/content/themes/meat-theme
/htdocs/content/themes/meat-theme/dist

### Plugins
/htdocs/content/plugins/*
!/htdocs/content/plugins/advanced-custom-fields-pro

### Cache
htdocs/content/cache/
htdocs/content/wp-cache-config.php
htdocs/content/advanced-cache.php

### Miscellaneous
.DS_Store
Thumbs.db

### Composer
/vendor/

### IDE
.idea/

### PHPCS
cs_fixer*
.php_cs.cache

### Wordpress
/htdocs/content/languages/*
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/mu-plugins/themosis-framework/
/htdocs/content/uploads/
/htdocs/content/upgrade/
